{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in result %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap" width="100px" height="250px">
  <div class="card-body">
    <h5 style="font-family:Elephant" class="card-title">{{i.name}}</h5>

    <a href="{% url 'foodapp:details' i.id %}" class="btn btn-primary"> <h6 style="font-family:Forte">View more..</h6></a>
  </div>
</div>
        </div>
     {% endfor %}
    </div>

</div>

{% endblock %}